.product-number-rating {
    border: none;
}

.prices .price {
    text-align: start;
}

.product-number-rating .pull-right {
    float: none;
}

.product-size-chart.details {
    .row.chart {
        justify-content: space-between;
        align-items: center;
    }
}

.size-chart {
    gap: 50%;
}

.add-to-cart.btn.btn-primary {
    width: 100%;
}

.small-image-wrapper {
    width: 5rem;
}

.custom-select-buttons {
    width: 34rem;
    height: 3rem;
    overflow: auto;
    border: none;

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus {
        outline: none;
    }

    & option {
        background-color: var(--color-grey2);
        padding: 0.2rem 1.2rem;
        text-align: center;
        margin-right: 1.2rem;
        display: inline-block;
        cursor: pointer;
        border-radius: 0.4rem;
        color: var(--color-grey6);
    }
}

.content-asset-special {
    margin-bottom: 0;
}
