.product-number-rating {
    border: none;
}

.prices .price {
    text-align: start;
}

.product-number-rating .pull-right {
    float: none;
}

.product-description.info {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-size-chart.details {
    .row.chart {
        justify-content: space-between;
        align-items: center;
    }
}

.size-chart {
    gap: 50%;
}

.add-to-cart.btn.btn-primary {
    width: 100%;
}

.primary-images {
    display: flex;
    flex-basis: 62%;
}
