@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  .carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.carousel-control-next,
.carousel-control-prev {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}